.programs {
  justify-items: center;
  width: 100%;
  min-height: 100%;
  margin-top: 50px;
}
.programs h1 {
  color: red;
  font-size: 3rem;
  margin: 20px auto;
}
.programsGrid {
  height: 80%;
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.programeCard {
  background: rgba(255, 255, 255, 0.966);
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
  animation: floating 2s infinite alternate-reverse;
  box-shadow: rgb(255, 0, 0) 0px 0px 35px 0px;
}

@keyframes floating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
.programeCard:nth-child(2) {
  animation: reverse-floating 2s infinite alternate-reverse;
}
@keyframes reverse-floating {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}
.programeCard img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  overflow: hidden;
}
.programeCard h2 {
  text-align: center;
  color: red;
}
.programeCard p {
  text-align: center;
  font-weight: 600;
}

@media (width < 480px) {
  .programs {
    max-height: 100%;
  }
  .programsGrid {
    height: 80%;
  }
  .programs h1 {
    font-size: 2rem;
  }
  .programeCard {
    width: 250px;
    height: 300px;
  }
  .programeCard h2 {
    font-size: 1.1rem;
  }
  .programeCard p {
    font-size: 0.8rem;
  }
  @keyframes floating {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30px);
    }
  }
  @keyframes reverse-floating {
    from {
      transform: translateX(-20px);
    }
    to {
      transform: translateX(20px);
    }
  }
}

@media (width >= 480px) and (width <= 768px) {
  .programsGrid {
    min-height: 100%;
  }
  .programs h1 {
    font-size: 2rem;
  }
  .programeCard {
    width: 250px;
    height: 300px;
  }
  .programeCard h2 {
    font-size: 1.1rem;
  }
  .programeCard p {
    font-size: 0.8rem;
  }
  @keyframes floating {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30px);
    }
  }
  @keyframes reverse-floating {
    from {
      transform: translateX(-20px);
    }
    to {
      transform: translateX(20px);
    }
  }
}

@media (width > 768px) and (width < 1024px) {
  .programs h1 {
    font-size: 2rem;
  }
  .programeCard {
    width: 220px;
    height: 330px;
  }
  .programeCard h2 {
    font-size: 1.1rem;
  }
  .programeCard p {
    font-size: 0.8rem;
  }
  .programs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .programsGrid {
    min-height: 50vh;
  }
}
@media (width >= 1024px) and (width <= 1440px) {
  .programs h1 {
    font-size: 2rem;
  }
  .programeCard {
    width: 250px;
    height: 350px;
  }
  .programeCard h2 {
    font-size: 1.2rem;
  }
  .programeCard p {
    font-size: 1rem;
  }
  .programs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .programsGrid {
    min-height: 50vh;
  }
}
